SANDBOX=false
PAIR=BTC/USD
DCA_BUDGET=1000
# MIN_QUOTE_AMOUNT=1 # OPTIONAL - Minimum quote currency amount (e.g., 1 USDC)
# MIN_BASE_AMOUNT=0.00001 # OPTIONAL - Minimum base currency amount (e.g., 0.00001 BTC)
DCA_DURATION_IN_MS=2629800000
ORDER_TYPE=market # OPTIONS: market (default) or limit
EXCHANGE_ID=kraken
PUBLIC_KEY=
PRIVATE_KEY=
TG_BOT_TOKEN=
TG_CHAT_ID=